* {
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize; /*转换文本为首字母大写*/
    transition: .2s linear; /*鼠标放置位置渐变*/
}

/*
green: #bac34e
black #222
white #fff
light-color #666
light-bg #f3f3f3
border 1rem solid rgba(0,0,0,.1)
box-shadow 0 .5rem 1rem rgba(0,0,0,.1)
*/

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth; /*滚动框平稳滚动*/
}

.header {
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;

    .logo {
        font-size: 2.5rem;
        font-weight: bolder;
        color: #222;

        i {
            color: #bac34e;
            padding-right: 5rem ;
        }
    }
    .nav-bar a {
        font-size: 1.7rem;
        color: #666;
        margin: 0 1rem;

        &:hover {
            color: #bac34e;
        }
    }
    .icons div{
        font-size: 2.5rem;
        margin-left: 1.7rem;
        cursor: pointer;   /*光标设置为手型*/
        color: #666;

        &:hover{
            color: #bac34e;
        }
   }
   .search-form {
    position: absolute;
    top: -115%; right: 2rem;
    width: 50rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    height: 5.5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    background-color: #fff;

    .search-form input {
        width: 100%;
        height: 100%;
        padding: 0 1.2rem;
        font-size: 1.6rem;
        color: #222;
        text-transform: none;
    }

    label {
        font-size: 2.5rem;
        margin-right: 1.7rem;
        cursor: pointer;   /*光标设置为手型*/
        color: #666;

        &:hover {
            color: #bac34e;
        }
    }

    &.active {
        top: 115%;
    }

}
    
}

#menu-btn {
    display: none;
}





// .header .search-form label {
//     font-size: 2.5rem;
//     margin-right: 1.7rem;
//     cursor: pointer;   /*光标设置为手型*/
//     color: #666;
// }

// .header .search-form label:hover {
//     color: #bac34e;
// }

